{% extends 'base.html' %}
{% block content %}
<span class="grid-container">
    <a href="{% url 'create_ticket' %}">Demander une critique</a>
    <a href="{% url 'create_review' %}">Créer une critique</a>
</span>
    {% for post in posts %}
        <div class="post cadre">
            <h3>{{ post.user }} a demandé une critique</h3>
            <p>{{ post.time_created }} </p>
            <p>{{ post.title }}</p>
            <img src="{{ postss.image.url }}">MANQUE IMAGE
            <p>{{ post.description }}</p>
            <p><a href="{% url 'home' %}">Créer une critique</a></p>
        </div>
    {% endfor %}
{% endblock content %}