{% extends 'base.html' %}
{% block content %}
<span class="grid-container">
    <a>
    <button onclick="location.href='{% url 'create_ticket' %}';">Demander une critique</button>
    </a>
    <a>
    <button onclick="location.href='{% url 'create_review' %}';">Créer une critique</button>
    </a>
</span>
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            <div class="cadre">
                <h3>{{ post.user }} a demandé une critique</h3>
                <p>{{ post.time_created }} </p>
                <p>{{ post.title }}</p>
                <img src="{{ post.image.url }}">
                <p>{{ post.description }}</p>
                <p>
                     <button onclick="location.href='{% url 'create_review_from_ticket' ticket=post.pk %}';">Créer une critique</button>
            </div>
        {% elif post.content_type == 'REVIEW' %}
            <div class="cadre">
                <h3>{{ post.user }} a publier une critique</h3>
                <p>{{ post.time_created }} </p>
                <p>{{ post.headline }} - {{ post.rating }}</p>
                <p>{{ post.body }}</p>
                <p>{{ post.title }}</p>
                <div class="cadre">
                    <p>{{ post.ticket.user }} a demandé une critique</p>
                    <p>{{ post.ticket.time_created }} </p>
                    <p>{{ post.ticket.title }}</p>
                    <img src="{{ post.ticket.image.url }}">
                    <p>{{ post.ticket.description }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock content %}